:root {
  --typewriterSpeed: 3s;
  --typewriterCharacters: 12;
  --header-font-size: 2rem;
  --navbar-color: #212529;
}

.navbar__header {
  font-size: var(--header-font-size);
  font-weight: bold;
}

.navbar__header span {
  color: hsl(159, 50%, 50%);
}

.navbar__header {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

.navbar__header::before,
.navbar__header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar__header::before {
  background: var(--navbar-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 0.5s forwards;
}

.navbar__header::after {
  width: 0.125em;
  background: #fff;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 0.5s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
