:root {
  --font-color: #fff;
  --bg-color: #343a40;
  --bg-second-color: #212529;
  --danger-color: #d2042d;
  --success-color: #32cd32;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: var(--bg-color);
  color: var(--font-color);
}
