:root {
  --bg-color: #343a40;
  --font-color: #fff;
  --bg-second-color: #212529;
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  background-color: var(--bg-color);
  color: var(--font-color);
}
