.sub {
  color: white;
  background-color: var(--bg-color);
  border: none;
  z-index: 0;
}

.sub__data {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.sub__input__group {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .sub__data {
    font-size: 0.8rem;
  }

  .sub__input {
    font-size: 0.8rem;
  }

  .sub__input__group {
    width: 100%;
  }
}
