.select {
  width: 65%;
  z-index: 0;
}

.select__select {
  width: 60% !important;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  border: none;
}

.select__input {
  width: 20% !important;
  border: none;
}

.select__warning {
  font-size: 1rem !important;
  color: #d2042d;
  font-weight: 900;
  display: absolute;
}

@media only screen and (max-width: 768px) {
  .select {
    width: 100%;
  }
  .select__input {
    width: 10% !important;
    font-size: 0.7rem;
  }
  .select__select {
    font-size: 0.7rem;
  }
  .select__percent {
    display: none;
  }
}
