.major__type {
  font-size: 0.7rem;
}

.circle__passed,
.circle__failed {
  box-shadow: 1px 1px 1px var(--bg-second-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.circle__passed {
  background-color: var(--success-color);
}

.circle__failed {
  background-color: var(--danger-color);
}

.table__header {
  cursor: pointer;
}

.fav__button,
.fav__button:hover {
  background-color: transparent;
  border: none;
}
