.filter__button {
  color: white;
  border: 2px solid var(--bg-second-color);
}

.filter__inactive.filter__button:focus {
  background-color: transparent;
}

.filter__button:focus {
  box-shadow: none;
}
