.circle {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: 1px 1px 1px var(--bg-second-color);
}

.passed {
  background-color: #32cd32;
}

.failed {
  background-color: #d2042d;
}
