/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.subject-add {
  width: 50%;
  float: left;
}

.subject-add input,
.subject-add select {
  background-color: #3c3c4c;
  height: 3rem;
  margin: 1rem;
  border: none;
  color: white;
  border-radius: 1rem;
  font-size: inherit;
  padding-left: 1rem;
}

.subject-add input {
  width: 5rem;
  float: right;
}

.subject-add select {
  width: 70%;
}

.subject-add input:focus,
.subject-add select:focus {
  outline: none;
  display: flexbox;
}

.subject-add__icon {
  color: #3c3c4c;
  font-size: 3rem;
  float: right;
  margin: 1rem;
}
