.subject-item {
  padding: 0.5rem;
  width: 100%;
  display: inline-block;
}

.subject-item__name {
  float: left;
}

.subject-item__score,
.subject-item__edit,
.subject-item__delete {
  float: right;
  padding: 0.2rem;
}
